.grass{
    background: rgb(126,198,197);
    background: linear-gradient(180deg, rgba(126,198,197,1) 0%, rgba(171,218,198,1) 35%, rgba(202,224,153,1) 100%);
}

.grass-slop{
    background-color: rgb(39, 159, 111);
}

.fire{
    background: rgb(232,174,27);
    background: linear-gradient(360deg, rgba(232,174,27,1) 0%, rgba(227,88,37,1) 35%, rgba(161,36,38,1) 100%);
}
.fire-slop{
    background-color: rgb(227, 116, 116);
}

.water{
    background: rgb(19,50,88);
    background: linear-gradient(180deg, rgba(19,50,88,1) 0%, rgba(20,121,251,1) 35%, rgba(130,178,241,1) 100%);
}

.water-slop{
    background: rgb(19,50,88);
}

.bug{
    background: rgb(98,219,96);
    background: linear-gradient(180deg, rgba(98,219,96,1) 0%, rgba(59,176,57,1) 35%, rgba(170,255,168,1) 100%);
}

.bug-slop{
    background-color: rgb(0, 0, 0);
}

.normal{
    background: rgb(65,19,5);
    background: linear-gradient(180deg, rgba(65,19,5,1) 0%, rgba(122,88,39,1) 35%, rgba(124,63,76,1) 100%);
}

.normal-slop{
    background-color: rgb(176, 111, 32);
}

.electric{
    background: rgb(255,179,0);
    background: linear-gradient(0deg, rgba(255,179,0,1) 0%, rgba(249,255,0,1) 33%, rgba(255,132,0,1) 85%);
}

.electric-slop{
    background-color: rgb(255, 140, 0);
}

.fighting{
    background: rgb(65,19,5);
    background: linear-gradient(180deg, #CB735D 0%, #F1613C 35%, #96402A 100%);
}

.fighting-slop{
    background-color: rgb(255, 140, 0);
}

.poison{
    background: linear-gradient(180deg, #CE9BFF 0%, #A564E3 35%, #5B3184 100%);
}

.poison-slop{
    background-color: rgb(255, 0, 255);
}

.ground {
    background: linear-gradient(180deg, #6b6b77 0%, #4f4f58 35%, #7E7E7E 100%);
}

.ground-slop {
    background-color: rgb(44, 44, 44);
}

.rock {
    background: linear-gradient(180deg, #3D3D3F 0%, #8D8D94 35%, #7E7E7E 100%);
}

.rock-slop {
    background-color: rgb(44, 44, 44);
}

.ghost{
    background: linear-gradient(180deg, #787DDA 0%, #454AA8 35%, #323569 100%);
}

.ghost-slop {
    background-color: rgb(44, 44, 44);
}

.steel {
    background: linear-gradient(180deg, #5E736C 0%, #728881 35%, #A8A8A8 100%);
}

.steel-slop {
    background-color: rgb(199, 199, 199);
}

.dark {
    background: linear-gradient(180deg, #030706 0%, #0D1211 35%, #5A5E5D 100%);
}

.dark-slop {
    background-color: rgb(0, 0, 0);
}

.ice {
    background: linear-gradient(180deg, #6FBEDF 0%, #64CBF5 35%, #BDEBFE 100%);
}

.ice-slop {
    background-color: rgb(40, 237, 255);
}

.dragon {
    background: linear-gradient(180deg, #478A93 0%, #56A4AE 35%, #A2BEC1 100%);
}

.dragon-slop {
    background-color: rgb(0, 0, 0);
}

.fairy {
    background: linear-gradient(180deg, #dd9dd2 0%, #ae569f 35%, #c04787 100%);
}

.fairy-slop {
    background-color: rgb(217, 96, 253);
}

.psychic {
    background: linear-gradient(180deg, #dd9dd2 0%, #401a3a 35%, #38031f 100%);
}

.psychic-slop {
    background-color: rgb(49, 9, 61);
}

.flying {
    background: linear-gradient(180deg, #b0e4fa 0%, #000e0d 35%, #3f6161 100%);
}

.flying-slop {
    background-color: rgb(0, 0, 0);
}